@import "__"
@import url("../icon/icons.css")


body
    // padding: 0 4.5em

  
.painelSecretaria
    height: 100vh
    @include index(1rem)

    .menu
        float: left
        width: 300px
        // background: #ccc

        .perfil
            width: 100%
            // height: 150px
            padding: 1rem
            display: block
            position: relative
            text-align: center
            // border: 2px solid #999

            &::before
                top: 0px
                left: 0px
                right: 0px
                width: 100%
                z-index: -1
                content: ""
                height: 150px
                display: block
                border-radius: 10px
                position: absolute
                background: #32b0e1

            h1
                color: #fff
                font-weight: 900
                padding: 1rem 0 0
                letter-spcing: 1px

            .clear
                width: 100%
                margin: 2rem 0 0rem

                .img
                    width: 100%
                    display: block

                    img
                        width: 90px
                        height: 90px
                        border: .4rem solid #fff
                        object-fit: cover
                        border-radius: 50%
                .dado
                        h3
                            padding: 5px 0
                        p
                            color: #999
                            font-size: .9rem
                            font-weight: 400

        .ul  
            clear: both
            display: block
            padding: 2rem 1.5rem
            
            li
                display: block
                margin: 0 0 .9rem
                position: relative

                a
                    color: #000
                    font-weight: 400
                    letter-spacing: 1px

                ul.down
                    top: 20px
                    right: 0px
                    z-index: 1
                    width: 100%
                    display: none
                    position: absolute
                    padding: 0rem 1.5rem
                    background: #32b0e1
                    transition: display 500ms

                    li
                        margin: 10px 0
                        position: relative

                        a
                            color: #fff

                        ul.on
                            top: 20px
                            right: 0px
                            z-index: 1
                            width: 100%
                            display: none
                            position: absolute
                            padding: 0rem 1.5rem
                            background: #0b3749
                            transition: display 500ms

                            li
                                margin: 10px 0

                                a
                                    color: #fff
                        &:hover
                            transition: display 500ms
                            ul.on
                                display: block
                                transition: display 500ms


                &:hover
                    transition: display 500ms
                    ul.down
                        display: block
                        transition: display 500ms
                    
    .router-url
        float: right
        min-width: 75%
        padding: 2rem 1rem
        // background: #ccc
        // pagina da dashboard
        .dashboard
            width: 100%
            @include grid(3)

            div
                height: 200px
                padding: 1rem
                background: #32b0e1

                &:first-child
                    grid-column: 1 / 2 span


    .ModelCadastro 
        width: 900px
        height: 400px
        // padding: 1rem 0
        // margin: 2rem auto
        // border: 2px solid #000
        
        
        h1
            padding: 0 2rem
            font-weight: 900
            font-size: 1.3rem
            text-align: center
            letter-spacing: .2rem
            text-transform: uppercase


        form
            // display: none
            padding: 2rem
            margin: 2rem 0
            border-radius: 5px
            background: #32b0e1


            div
                @include grid(3, 1rem 2.5rem)

                label
                    p
                        font-size: .8rem
                        padding: .6rem 0
                        letter-spacing: .1rem
                        text-transform: uppercase 

                    input, select
                        width: 100%
                        border: none
                        outline: none
                        padding: .6rem .3rem

                        &:hover
                            border: none
                            outline: none
            button
                border: none
                outline: none
                margin: 1rem 0
                cursor: pointer
                border-radius: 5px
                padding: .8rem 2rem


                &.labelPainel
                    top: 25px
                    padding: 1rem 0
                    position: relative
                    border-top: 3px solid #ccc
    
#tela_iframe
    width: 100%