<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secretaria</title>
    <link rel="stylesheet" href="../assets/sass/index.css">
</head>
<body>
<section class="painelSecretaria">
    <div class="menu">
        <div class="perfil">
            <h1>Sistema</h1>

            <div class="clear">
                <div class="img">
                    <!--Aqui adiciona foto-->
                    <img src="../assets/src/" alt="fotoUsuario">
                </div>
                <div class="dado">
                    <h3>Albertina Anastacia</h3>
                    <p>Funcionaria</p>
                </div>
            </div>
        </div>
        <ul class="ul">
            <li><a href="../index.html">Dashboard</a></li>
            <li><a href="#">Cadastro</a>
                <ul class="down">
                    <li><a href="cadastroAluno.html">Aluno</a></li>
                    <li><a href="cadastroFuncionario.html">Funcionario</a></li>
                    <li><a href="cadastroDisciplina.html">Disciplina</a></li>
                    <li><a href="cadastroNota.html">Nota</a></li>
                </ul>    
            </li>
            <li><a href="#">Registros</a>
                <ul class="down">
                    <li><a href="#">Funcionario</a></li>
                    <li><a href="#">Aluno</a></li>
                    <li><a href="#">Nota</a></li>
                </ul> 
            </li>
            <li><a href="#">Sair</a></li>
        </ul>
    </div>
    <div class="router-url">
<section class="ModelCadastro">
    <h1>Cadastro de Disciplina</h1>
    <form action="" class="" method="post">
       <div>
        <label for="">
            <p>Disciplina</p>
            <input type="text" name="disciplina" placeholder="Disciplina">
        </label>
        <label for="">
            <p>Curso</p>
            <select name="curso" id="curso">
                <option value="1">Informatica</option>
                <option value="2">Arquitetura</option>
                <option value="3">Oge</option>
            </select>
        </label>
        
        <label for="">
            <p>Classe</p>
            <select name="classe" id="classe">
                <option value="1">1º Classe</option>
                <option value="2">2º Classe</option>
                <option value="3">3º Classe</option>
                <option value="1">4º Classe</option>
                <option value="2">5º Classe</option>
                <option value="3">6º Classe</option>
            </select>
        </label>

        <label for="">
            <p>Carga Horaría</p>
            <input type="text" name="carga_horaria" placeholder="Carga Horaría" id="">
        </label>
       </div>

       <button class="cadastro">Cadastrar</button>
    </form>
</section>

</div>
</section>
</body>
</html>